GHGFinalIncludedFiles/GHG_EmissionsDetails_v15.1.xsd

<xsd:schema xmlns:ghg="http://www.ccdsupport.com/schema/ghg" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ccdsupport.com/schema/ghg" elementFormDefault="qualified" attributeFormDefault="unqualified" version="15.1">
	<xsd:annotation>
		<xsd:documentation>
		Schema Name  : GHG_EmissionsDetails_v15.1.xsd
        Current Version Available At : 
        Description   : Identification information regarding the submission file.
	        </xsd:documentation>
	</xsd:annotation>
	<xsd:include schemaLocation="GHG_SimpleContent_v15.1.xsd"/>
	<xsd:complexType name="EmissionsDetailsDataType">
		<xsd:sequence>
			<xsd:element name="CO2EmissionsCalculationMethod" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>MRR Reference:  98.256(e)(5)</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="ghg:CO2EmissionsCalculationMethodList">
							<!-- <xsd:attribute name="isConfidentialBusinessInformationIndicator" type="ghg:IndicatorDataType" use="optional"/> -->
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="CO2Emissions" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>MRR Reference:  98.256(e)(4)</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="ghg:CalculatedDetailsDataType">
							<xsd:attribute name="massUOM" type="ghg:massUOM"/>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="CH4Emissions" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>MRR Reference:  98.256(e)(4)</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="ghg:CalculatedDetailsDataType">
							<xsd:attribute name="massUOM" type="ghg:massUOM" use="required"/>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="N2OEmissions" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>MRR Reference:  98.256(e)(4)</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="ghg:CalculatedDetailsDataType">
							<xsd:attribute name="massUOM" type="ghg:massUOM" use="required"/>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="EmissionsDetails" type="ghg:EmissionsDetailsDataType"/>
	<xsd:complexType name="EmissionsDetailsDataType2">
		<xsd:sequence>
			<xsd:element name="CO2Emissions" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>MRR Reference: 98.256(f)(4), (g)(5)</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="ghg:CalculatedDetailsDataType">
							<xsd:attribute name="massUOM" type="ghg:massUOM"/>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="CO2EmissionsCalculationMethod" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>MRR Reference: 98.256(f)(5)</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="ghg:CO2CrackingCokingEmissionsMethodList">
							<!-- <xsd:attribute name="isConfidentialBusinessInformationIndicator" type="ghg:IndicatorDataType" use="optional"/> -->
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="CH4Emissions" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>MRR Reference: 98.256(f)(4), (g)(5)</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="ghg:CalculatedDetailsDataType">
							<xsd:attribute name="massUOM" type="ghg:massUOM" use="required"/>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="CH4EmissionsCalculationMethod" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>MRR Reference: 98.256(f)(11), (g)(5)</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="ghg:CrackingCokeCalciningEmissionsMethodList">
							<!-- <xsd:attribute name="isConfidentialBusinessInformationIndicator" type="ghg:IndicatorDataType" use="optional"/> -->
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="CH4UnitSpecificFactorBasis" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>MRR Reference: 98.256(f)(11), (g)(5)</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="ghg:UnitSpecificFactorBasisList">
							<!-- <xsd:attribute name="isConfidentialBusinessInformationIndicator" type="ghg:IndicatorDataType" use="optional"/> -->
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="OtherCH4UnitSpecificFactorBasis" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>MRR Reference: 98.256(f)(11), (g)(5)</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="xsd:string">
							<!-- <xsd:attribute name="isConfidentialBusinessInformationIndicator" type="ghg:IndicatorDataType" use="optional"/> -->
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="N2OEmissions" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>MRR Reference: 98.256(f)(4), (g)(5)</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="ghg:CalculatedDetailsDataType">
							<xsd:attribute name="massUOM" type="ghg:massUOM" use="required"/>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="N2OEmissionsCalculationMethod" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>MRR Reference: 98.256(f)(12), (g)(5)</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="ghg:CrackingCokeCalciningEmissionsMethodList">
							<!-- <xsd:attribute name="isConfidentialBusinessInformationIndicator" type="ghg:IndicatorDataType" use="optional"/> -->
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="N2OUnitSpecificFactorBasis" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>MRR Reference: 98.256(f)(12), (g)(5)</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="ghg:UnitSpecificFactorBasisList">
							<!-- <xsd:attribute name="isConfidentialBusinessInformationIndicator" type="ghg:IndicatorDataType" use="optional"/> -->
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="OtherN2OUnitSpecificFactorBasis" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>MRR Reference: 98.256(f)(12), (g)(5)</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="xsd:string">
							<!-- <xsd:attribute name="isConfidentialBusinessInformationIndicator" type="ghg:IndicatorDataType" use="optional"/> -->
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EmissionsDetailsDataType3">
		<xsd:sequence>
			<xsd:element name="CO2Emissions" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>MRR Reference: 98.256(i)(3)</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="ghg:CalculatedDetailsDataType">
							<xsd:attribute name="massUOM" type="ghg:massUOM"/>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="CO2EmissionsCalculationMethod" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>MRR Reference: 98.256(i)(4)</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="ghg:CO2CokeCalciningEmissionsMethodList">
							<!-- <xsd:attribute name="isConfidentialBusinessInformationIndicator" type="ghg:IndicatorDataType" use="optional"/> -->
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="CH4Emissions" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>MRR Reference: 98.256(i)(3)</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="ghg:CalculatedDetailsDataType">
							<xsd:attribute name="massUOM" type="ghg:massUOM" use="required"/>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="CH4EmissionsCalculationMethod" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>MRR Reference: 98.256(i)(7)</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="ghg:CrackingCokeCalciningEmissionsMethodList">
							<!-- <xsd:attribute name="isConfidentialBusinessInformationIndicator" type="ghg:IndicatorDataType" use="optional"/> -->
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="CH4UnitSpecificFactorBasis" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>MRR Reference: 98.256(i)(7)</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="ghg:UnitSpecificFactorBasisList">
							<!-- <xsd:attribute name="isConfidentialBusinessInformationIndicator" type="ghg:IndicatorDataType" use="optional"/> -->
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="OtherCH4UnitSpecificFactorBasis" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>MRR Reference: 98.256(i)(7)</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="xsd:string">
							<!-- <xsd:attribute name="isConfidentialBusinessInformationIndicator" type="ghg:IndicatorDataType" use="optional"/> -->
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="N2OEmissions" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>MRR Reference: 98.256(i)(3)</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="ghg:CalculatedDetailsDataType">
							<xsd:attribute name="massUOM" type="ghg:massUOM" use="required"/>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="N2OEmissionsCalculationMethod" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>MRR Reference: 98.256(i)(8)</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="ghg:CrackingCokeCalciningEmissionsMethodList">
							<!-- <xsd:attribute name="isConfidentialBusinessInformationIndicator" type="ghg:IndicatorDataType" use="optional"/> -->
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="N2OUnitSpecificFactorBasis" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>MRR Reference: 98.256(i)(8)</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="ghg:UnitSpecificFactorBasisList">
							<!-- <xsd:attribute name="isConfidentialBusinessInformationIndicator" type="ghg:IndicatorDataType" use="optional"/> -->
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="OtherN2OUnitSpecificFactorBasis" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>MRR Reference: 98.256(i)(8)</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="xsd:string">
							<!-- <xsd:attribute name="isConfidentialBusinessInformationIndicator" type="ghg:IndicatorDataType" use="optional"/> -->
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="CrackingCokingEmissionsDetails" type="ghg:EmissionsDetailsDataType2"/>
</xsd:schema>
